@import url("https://fonts.googleapis.com/css2?family=Overpass:wght@400;700&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: hsl(216, 12%, 8%);
  color: hsl(216, 12%, 54%);
}

.icon-wrapper {
  display: grid;
  place-content: center;
  padding: 18px;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background-color: hsl(213, 19%, 18%);
  cursor: pointer;
}
.center {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 50%);
}
.card-container {
  font-family: "Overpass", sans-serif;
  max-width: 350px;
  width: 100%;
  border-radius: 20px;
  background: linear-gradient(hsl(213, 19%, 18%), hsl(216, 12%, 8%));
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  color: #fff;
  padding: 30px;
  margin: 20px auto;
}

.text-container h2 {
  margin-top: 20px;
  /* color: #888; */
}

.text-container p {
  color: #888;
  font-size: 15px;
  margin: 20px 0;
}

.rating {
  display: flex;
  justify-content: space-between;
}

.rating-btn {
  border: none;
  background: transparent;
  color: #888;
  padding: 15px 18px;
  background-color: hsl(213, 19%, 18%);
  border-radius: 50%;
  font-weight: 700;
  cursor: pointer;
}

.active {
  background: #888;
  color: #fff;
}

.rating-btn:hover {
  color: #fff;
  background: hsl(25, 97%, 53%);
}

.btn {
  text-transform: uppercase;
  width: 100%;
  background-color: hsl(25, 97%, 53%);
  padding: 15px;
  margin-top: 20px;
  color: #fff;
  border-radius: 20px;
  border: none;
  letter-spacing: 2px;
  cursor: pointer;
}

.btn:hover {
  background-color: #fff;
  color: hsl(25, 97%, 53%);
}

/* .disabled {
  cursor: not-allowed;
} */

/*style for backCard */

.back-img {
  display: grid;
  place-items: center;
}

.result,
.thank-you {
  display: grid;
  place-items: center;
  text-align: center;
}

.result {
  margin-top: 20px;
}

.result p {
  width: 100%;
  background-color: hsl(213, 19%, 18%);
  padding: 4px;
  color: hsl(25, 97%, 53%);
  border-radius: 25px;
  font-weight: 700;
}

.thank-you {
  margin-top: 30px;
}

.thank-you p {
  margin-top: 10px;
  font-weight: 400;
  font-size: 14px;
  color: #888;
}

@media (min-width: 320px) and (max-width: 1440px) {
  .card-container {
    max-width: 350px;
  }
  .rating-btn {
    padding: 15px 18px;
    font-size: 15px;
  }
}
